[general]
import = ["catppuccin-latte.toml"]

[terminal.shell]
program = "/usr/bin/tmux" # Use the correct path to your tmux installation
args = ["new-session", "-A", "-D", "-s", "main"]

[font]
size = 12.0

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"

[font.bold]
family = "JetBrainsMono Nerd Font"
style = "Bold"

[font.italic]
family = "JetBrainsMono Nerd Font"
style = "Italic"
